<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://sourceninja.us2.list-manage.com/subscribe/post?u=1e5e0af47af8f1eb073ad42ad&amp;id=586cff1edf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div class="field inline">
      <label for="mce-EMAIL"></label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    	<input type="hidden" name="LOCATION" id="LOCATION" value="{{ page.location }}" />
    	<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="submit">
    </div>
    <br /><br />
  </form>
</div>
<!--End mc_embed_signup-->